  <!-- Left-aligned media object -->
<div class="row">
  <div class="media">
    <div class="media-left">
      <img src="../../assets/images/img_avatar1.png" class="media-object" style="width:30px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{ materia.titulo }}</h4>
      <p>{{ materia.texto }}</p>
      <h6>Autor: <strong>{{ materia._creator?.nome }}</strong></h6>
      <hr>
      <form>
        <div class="form-group">
          <label for="comentario" >Comentário</label>
          <textarea id="comentario" name="comentario" class="form-control" rows="2" required #comentarioTexto></textarea>
        </div>
        <div class="form-group">
          <div class="pull-right">
            <input class="btn btn-primary btn-xs" type="button" value="Comentar" (click)="comentar(comentarioTexto)">
          </div>
        </div>
      </form>
      <br>
      <hr>
      <!-- Nested media object -->
      <div class = "media" *ngFor="let comentario of materia?._comentarios">
        <div class="media-left">
            <img src="../../assets/images/img_avatar1.png" class="media-object" style="width:15px">
        </div> 
        <div class = "media-body">
          <p>{{ comentario?.texto }}</p>
          <h6>Autor: <strong>{{ comentario?._creator?.nome }}</strong></h6>
        </div>
      </div>
    </div>
</div>