<h5>Criar/Editar Matéria</h5>

<div class="row">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="col s12">
    
    <div class="row">    
      <div class="input-field col s12">
        <input disabled [ngModel]="materia._id" id="disabled" name="materiaId" type="text">
        <label for="disabled" class="active">#</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="titulo" type="text" [(ngModel)]="materia.titulo" name="titulo" class="validate" required>
        <label for="titulo" class="active">Título</label>
      </div> 
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="texto" [(ngModel)]="materia.texto" name="texto" class="materialize-textarea" required></textarea>
        <label for="texto" class="active">Texto</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="link" [(ngModel)]="materia.link" name="link" class="validate">
        <label for="link" class="active">Link</label>
      </div>
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="action">Gravar
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>