<div class="panel panel-primary">
  <div class="panel-heading">
      <h3 class="panel-title">Criação de Usuário</h3>
   </div>
  <div class="panel-body">
    <form #f="ngForm" class="form-horizontal" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label for="nome"  class="col-sm-2 control-label">Nome</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" 
              [(ngModel)]="usuario.nome" #nome="ngModel" required>
        </div>
      </div>
      <div class="form-group">
        <label for="logon"  class="col-sm-2 control-label">Logon</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="logon" name="logon" placeholder="Logon"
              [(ngModel)]="usuario.logon" #logon="ngModel" required>
        </div>
        <campo-control-erro [erroMostrar]="campoIsValidTouched(logon)" erroMsg="Logon inválido" ></campo-control-erro>
      </div>
      <div class="form-group">
        <label for="email"  class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email"  id="email" name="email" placeholder="Email"
              [(ngModel)]="usuario.email" class="form-control" required email #email="ngModel">
        </div>
        <campo-control-erro [erroMostrar]="campoIsValidTouched(email)" erroMsg="Email inválido" ></campo-control-erro>
      </div>
      <div class="form-group">
        <label for="senha"  class="col-sm-2 control-label">Senha</label>
        <div class="col-sm-10">
          <input type="password"  id="senha" name="senha" placeholder="senha"
              [(ngModel)]="usuario.senha" class="form-control" required #senha="ngModel">
        </div>
      </div>
<!--      <div class="form-group">
        <label for="senhaConfirma"  class="col-sm-2 control-label">Confirmação de senha</label>
        <div class="col-sm-10">
          <input type="password"  id="senhaConfirma" name="senhaConfirma" placeholder="Confirmação de senha"
              class="form-control" [ngModel]="usuario.senhaConfirma" required #senhaConfirma="ngModel">
        </div>
      </div>
-->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
           <button type="button" class="btn btn-default" (click)="cancelar()">Cancelar</button>
          <button type="submit" class="btn btn-success" [disabled]="!f.valid">Gravar</button>
        </div>
      </div>
    </form>
  </div>
</div>